@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10,100..900&family=Montserrat:ital,wght@0,600;1,600&family=Outfit:wght@100..900&display=swap');

body {
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
}

p,
a,
span,
li {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: 'slnt' -10;
}
